* {
    box-sizing: border-box;
}

/* custom properties */
:root {
    --color-bgr-lightblue: #E6EFFF; 
    --color-bgr-white: #FFFFFF; 

}


/* common */ 

@font-face {
    font-family: Cerebri Sans Bold;
    font-weight: bold;
    src: url("./cerebri.sans.bold.ttf") format("opentype");
}

@font-face {
    font-family: Cerebri Sans Book;
    font-weight: normal;
    src: url("./metropolis.book.ttf") format("opentype");
}

body {
    font-family: 'Cerebri Sans Book', sans-serif;
    font-size: 15px;

}




/* sidebar */

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 267px;
    height: 100%;
    padding: 40px 0 0 60px;
    background-color: var(--color-bgr-lightblue);
}

.nav__list {
    list-style: none;
    padding-left: 0;
}

.nav__item {
    display: flex;
    align-items: center;
}

.nav__link {
    text-decoration: none;
}
.nav__icon {
    width: 24px;
    height: 24px;
}


/* main */
.main {
    margin-left: 267px;
    max-width: calc(1440px - 267px);
    padding: 45px 61px 0 15px;
    
}

