* {
    box-sizing: border-box;
}

/* custom properties */
:root {
    --color-bgr-lightblue: #E6EFFF; 
    --color-bgr-white: #FFFFFF; 
    --color-accent-blue: #2450EF;
    --color-text-dark-blue: #051951;
    

    --color-status-finaliser: rgba(69, 108, 248, 0.3); 
    --color-status-verifier: rgba(227, 230, 237, 1);
    --color-status-refuse: rgba(253, 202, 196, 1);
    --color-status-conteste: rgba(255, 235, 179, 1);
    --color-status-valide: rgba(177, 241, 226, 1);
    --color-status-annule: rgba(5, 25, 81, 0.3);
    --color-status-bloque: rgba(230, 239, 255, 1);

}


/* common */ 

@font-face {
    font-family: Cerebri Sans Bold;
    font-weight: medium;
    src: url("./cerebri.sans.bold.ttf") format("opentype");
}

@font-face {
    font-family: Cerebri Sans Book;
    font-weight: normal;
    src: url("./metropolis.book.ttf") format("opentype");
}

body {
    font-family: 'Cerebri Sans Book', sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: var(--color-text-dark-blue);

}




/* sidebar */

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 267px;
    height: 100%;
    padding: 40px 0 0 60px;
    background-color: var(--color-bgr-lightblue);
}

.sidebar__username {
    width: 176px;
    margin-top: 19px;
    margin-bottom: 11px;
    font-family: Cerebri Sans Bold;

}

.sidebar__hr {
    width: 233px;
    color: var(--color-bgr-white);
    transform: translateX(-42px);
}

.sidebar__select-container {
    margin-top: 12px;
    margin-bottom: 12px;
    width: 191px;
    height: 43px;
    border-radius: 10px;

}

.sidebar__select {
    border-radius: 10px;
}



/* main nav */

.nav__list {
    list-style: none;
    padding-left: 0;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
    font-family: Cerebri Sans Bold;
    
}

.nav__link {
    text-decoration: none;
    width: 160px;
    color: var(--color-text-dark-blue);

}

.nav__link:active {
    color: var(--color-accent-blue);
}

.nav__icon {
    width: 24px;
    height: 24px;
}




/* main */
.main {
    margin-left: 267px;
    max-width: calc(1440px - 267px);
    padding: 45px 61px 0 15px;
    
}

.search__top {
    display: flex; 
    justify-content: space-between;
    align-items: center;

}

.search__grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.search__item {
    width: 355px;
    height: 52px;
}

.search__bottom {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 25px;
}

.filter {
    display: flex; 
    gap: 16px;
    justify-content: space-between;
}

.filter__item {
    height: 36px;
    padding: 7px 16px 7px 16px;
    border-radius: 10px;
    line-height: 22px; 
    color: var(--color-accent-blue);
    text-transform: uppercase;
    text-align: center;
}


/* status classes */
.finaliser {
    background-color: var(--color-status-finaliser);
}

.verifier {
    background-color: var(--color-status-verifier);
}

.refuse {
    background-color: var(--color-status-refuse);
}

.conteste {
    background-color: var(--color-status-conteste);
}

.valide {
    background-color: var(--color-status-valide);
}

.annule {
    background-color: var(--color-status-annule);
}

.bloque {
    background-color: var(--color-status-bloque);
}


/* transactions table */

.transactions__table {
    width: 100%; 
    margin-top: 24px;
    text-align: left; 
    border-color: var(--color-bgr-lightblue);
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: var(--color-bgr-lightblue);
}



.transaction__country_from, 
.transaction__country_to {
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.transaction__status {
    height: 25px;
    padding: 7px 8px 7px 8px;
    border-radius: 60px;
    gap: 8px;
    
}

.transaction__action {
    text-align: right;
}


.main__pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 22px;
}


